.bg-Brown{
    background-color: Brown;
} 

.container{
    border-radius: 5px;
}


.border-white{
    border: 1px solid white;
}

.border-light-bluewhite{
    border: 1px solid #006cfa;
}

.text-center{
    text-align: center;
    vertical-align: middle;
    line-height: 2rem;
}

.text-left{
    text-align: left;
    vertical-align: middle;
}
.text-color-white{
    color: white;
}
 
.text-color-black{
    color: black;
}
 
.p-2rem{
    padding: 0.5rem;
}

.mt-1rem{
    margin-top: 0.5rem;
}

.mt-left{
    margin-left: 3rem;
}
.mt-right{
    margin-right: 3rem;
}
.ht-2rem{
    height: 2.1rem;
}

.brick{
    
    margin: 0.1rem;
    height: 2.1rem;
    border-radius: 3px;
    border: 1px solid #a3a3a3;
    background-color: burlywood;
}

/* .row{
    border: 1px solid black;
}
 */